//FEATURE ONLY AVAILABLE IN FIREFOX
doctype html
html
	head
		meta(charset="utf-8")
		title Light Path

		link(rel="stylesheet", href="../css/main.css")

	body
		div(id="visual")
		p(id="debug")

		h1.texto TEXTO

		
		button#play.btns-btn-play play






		script(src="../js/app.main.js")