doctype html
html
    head
        meta(charset="utf-8")
        title("device light")

        link(rel="stylesheet", href="../css/main.css")

    body
        div(id="visual")
            a(href="", id="togglePlay") Init
    
        audio(src="", id="audio", type="audio/mpeg")

        script(src="../js/app.main.js", type="text/javascript")