#audio{position: absolute;height: 0;width: 0;}
body, html, #visual{
    height: 100%;
    padding:0;
    margin: 0;
}
div{
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
    
    //background: rgba(135,242,250,1);
}


.oyeah{
    //background: rgba(255,124,216,1);
}


#debug{
    display: inline-block;
    padding: 3em;
    color: #fff;
    background: #333;
}


.content{
    padding: 1em;
    margin: 0 auto;
    width: 90%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    
    -webkit-column-rule: 2px outset #fcc;
    -moz-column-rule: 2px outset #ccc;
    column-rule: 2px outset #ccc;
    
    p{
        margin: 0 0 .8em;
    }
}

@media screen and (min-width: 230px) and (max-width: 430px) {
    .content{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
@media screen and (min-width: 431px) and (max-width: 950px) {
    .content{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}


@media screen and (luminosity: normal) {
    .content {background-color: #ddd; color: #111;}
}
@media screen and (luminosity: dim) {
    .content {background-color: #444; color: #fff;}
}
@media screen and (luminosity: washed) {
    .content {background-color: #fff; color: #333;}
}



